

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: var(rgb(33, 69, 81));
  color: var(rgb(255,255,255));
  padding: 0px 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

  /* Debug border */
  /* border: solid red; */
}

.logo a {
  font-family: Georgia;
  font-size: larger;
  
}